{% extends 'base_admin.html' %} {% block content %}
<div class="container">
  <h1>Редактировать Научную работу</h1>

  <form action="#" method="post" >

    <div class="form-group">
      <label for="name">Название</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Введите название работы ..."
        value="{{portfolio.name}}"
      />
    </div>

    <div class="form-group">
        <label for="field">Научное Направление</label>
        <input
          type="text"
          class="form-control"
          id="field"
          name="field"
          value="{{portfolio.field}}"

        />
      </div>

    <div class="form-group">
        <label for="description" class="form-label">Описание работы</label>
        <textarea class="form-control" id="description" name="description" rows="3"> {{portfolio.description}}
        </textarea>
      </div>

            <div class="form-group col-md-6">
              <label for="data_of_start">Дата начала работы</label>
              <input
                type="date"
                class="form-control"
                id="data_of_start"
                name="data_of_start"
                value="{{portfolio.data_of_start}}"
                />
                
      </div>
      <div class="form-group col-md-6">
        <label for="data_of_end">Дата окончение работы</label>
        <input
          type="date"
          class="form-control"
          id="data_of_end"
          name="data_of_end"
          value="{{portfolio.data_of_end}}"
          />
</div>
        <div class="form-group">
      <label for="resource">Сссылка на документ</label>
      <input
        type="text"
        class="form-control"
        id="resource"
        name="resource"
        value="{{portfolio.resource}}"

      />
   
    <button type="submit" class="btn btn-primary">Сохранить</button> 
  </form>
</div>
{% endblock %}
