{% extends 'base_admin.html' %} {% block content %}

<h2>Группы</h2>
<div class="container">
  <input
    type="text"
    id="myInput"
    onkeyup="myFunction()"
    placeholder="Поиск  по имени.."
    title="Введите имя пользователя"
  />
  <a href="{{ url_for('admin.add_group')}}">
  <button type="button" class="btn btn-success">Добавить Группу</button> </a>
</div>

<table id="myTable">
  <tr class="header">
    <th style="width: 5%">ID</th>

    <th style="width: 20%">Название</th>
    <th style="width: 20%">Курс</th>
    <th style="width: 20%">Специальность</th>


  </tr>

  {% for group in groups %}

  <tr>
    <td>{{ group.id }}</td>

    <td>{{ group.name }}</td>
    <td>{{ group.grade.name }}</td>
    <td>{{ group.speciality.name }}</td>


 
    <td><a onclick="return confirm('Вы действительно хотите удалить группу? Напоминаем что данное действие не обратимо');"  href="{{ url_for('admin.delete_group',group_id = group.id)}}"
      ><button type="button" class="btn btn-danger">Удалить</button></a></td>
    <td>
      <a href="{{ url_for('admin.show_group',group_id = group.id)}}"
        ><button type="button" class="btn btn-success">Показать</button></a
      >
    </td>
    <td>
      <a href="{{ url_for('admin.update_group', group_id = group.id)}}"
        ><button type="button" class="btn btn-primary">Редактировать</button></a
      >
    </td>

  </tr>
  {% endfor %}
</table>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</div>
</main>
{% endblock %}





 

