{% extends 'base_admin.html' %}
 {% block content %}

 <!-- Student Profile -->

 <link
      rel="stylesheet"
      href="{{ url_for('admin.static',filename='css/student.css') }}"
    />



<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="https://placeimg.com/640/480/arch/any" alt="">
              <h3> {{teacher.firstname}} {{teacher.lastname}}</h3>
            </div>
                    <div class="card-body">
              <p class="mb-0"><strong class="pr-1"> ID - Преподователя:</strong>{{teacher.id}}</p>
              <p class="mb-0"><strong class="pr-1">Кафедра:</strong>{{teacher.department.name}}</p>
              <p> <a href="{{ url_for('admin.update_teacher',teacher_id = teacher.id)}}"
                ><button type="button" class="btn btn-success">Обновить</button></a></p>

                <p> <a href="{{ url_for('admin.add_course_for_teacher',teacher_id = teacher.id)}}"
                  ><button type="button" class="btn btn-success">Добавить курс</button></a></p>
                  <p> <a href="{{ url_for('admin.add_portfolio',teacher_id = teacher.id)}}"
                    ><button type="button" class="btn btn-success">Добавить научную работу</button></a></p>

                <p> <a onclick="return confirm('Вы действительно хотите удалить студента? Напоминаем что данное действие не обратимо');"  href="{{ url_for('admin.delete_teacher',teacher_id = teacher.id)}}"
                    ><button type="button" class="btn btn-danger">Удалить</button></a></p>
                    <p> <a href="{{ url_for('admin.show_schedule_by_teacher', teacher_id = teacher.id, semester_id = 1)}}"
                      ><button type="button" class="btn btn-success">Показать расписание 1-семестр </button></a></p> 
                      <p> <a href="{{ url_for('admin.show_schedule_by_teacher', teacher_id = teacher.id, semester_id = 2)}}"
                        ><button type="button" class="btn btn-success">Показать расписание 2-семестр </button></a></p>  
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Основная информация</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Имя</th>
                  <td width="2%">:</td>
                  <td>{{teacher.firstname}}</td>
                </tr>
                <tr>
                    <th width="30%">Фамилия</th>
                    <td width="2%">:</td>
                    <td>{{teacher.lastname}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Отчество</th>
                    <td width="2%">:</td>
                    <td>{{teacher.middlename}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Дата рождение</th>
                    <td width="2%">:</td>
                    <td>{{teacher.birthday}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Пол</th>
                    <td width="2%">:</td>
                    <td>{{teacher.gender.name}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Email</th>
                    <td width="2%">:</td>
                    <td>{{teacher.email}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Телефон</th>
                    <td width="2%">:</td>
                    <td>{{teacher.phone}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Пароль</th>
                    <td width="2%">:</td>
                    <td>{{teacher.password}}</td>
                  </tr>
              </table>
            </div>

            <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Академическая информация</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Кафедра</th>
                    <td width="2%">:</td>
                    <td>{{teacher.department.name}}</td>
                  </tr>               
                  <tr>
                    <th width="30%">Факультет</th>
                    <td width="2%">:</td>
                    <td>{{teacher.department.faculty.name}}</td>
                  </tr>
                
                
                   
                </table>
              </div>


              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Преподаваемые курсы</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  {% for teacher_course in teacher_courses %}            
                  <tr>
                    <th width="30%">{{ teacher_course.course.name}}</th>
                    <td width="2%">:</td>
                    <td> <p> <a href="{{ url_for('admin.show_course',course_id = teacher_course.course.id)}}"
                      ><button type="button" class="btn btn-success">Подробнее</button></a></p></td>
                      <td><p> <a onclick="return confirm('Вы действительно хотите удалить данный курс преподователя? Напоминаем что данное действие не обратимо');"  href="{{ url_for('admin.delete_teacher_course',teacher_course_id = teacher_course.id)}}"
                        ><button type="button" class="btn btn-danger">Удалить</button></a></p></td>

                  </tr>               
                  {% endfor %}

                </table>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<h3>Научная активность</h3>
  <table id="myTable">
    <tr class="header">
      <th style="width: 20%">Название работы</th>
      <th style="width: 20%">Описание</th>
      <th style="width: 20%">Научное направление</th>
      <th style="width: 20%">Дата начала</th>
      <th style="width: 20%">Дата завершение</th>
      <th style="width: 20%">Ссылка на документ</th>
    </tr>
    {% for portfolio in portfolios %}
    <tr>
      <td>{{portfolio.name}}</td> 
      <td>{{portfolio.description}}</td> 
      <td>{{portfolio.field}}</td> 
      <td>{{portfolio.data_of_start}}</td>
      <td>{{portfolio.data_of_end}}</td> 
      <td>{{portfolio.resource}}</td> 

      <td><p> <a onclick="return confirm('Вы действительно хотите удалить работу? Напоминаем что данное действие не обратимо');" 
        href="{{ url_for('admin.delete_portfolio',portfolio_id = portfolio.id, teacher_id = teacher.id)}}"
       ><button type="button" class="btn btn-danger">Удалить</button></a></p></td>
      <td>
        <a href="{{ url_for('admin.update_portfolio',portfolio_id = portfolio.id,  teacher_id = teacher.id)}}"
          ><button type="button" class="btn btn-success">Редактировать</button></a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}</div>
