{% extends 'base_admin.html' %} {% block content %}
<div class="container">
    <form action="#" method="post" >
<h1>Редактирование занятия</h1>

    <div class="form-group col-md-4">
        <label for="teacher_course_id">Курс </label>
        <select id="teacher_course_id" class="form-control"   name="teacher_course_id"
        >
        <option selected value="{{ schedule.teacher_course_id }}">{{ schedule.teacher_course.course.name }} - 
            {{ schedule.teacher_course.teacher.firstname }}             {{ schedule.teacher_course.teacher.lastname }}</option>
        {% for teacher_course in teachers_courses %}
          <option value="{{ teacher_course.teacher_course.id }}">{{ teacher_course.teacher_course.course.name }} - 
            {{ teacher_course.teacher_course.teacher.firstname }}             {{ teacher_course.teacher_course.teacher.lastname }} 
          </option>

            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="day_of_week_id">День недели </label>
        <select id="day_of_week_id" class="form-control"   name="day_of_week_id"
        >
        <option value="{{ schedule.day_of_week.id }}">{{ schedule.day_of_week.name }}</option>
        {% for day in day_of_week %}
          <option value="{{ day.id }}">{{ day.name }} </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="lesson_time_id">Время </label>
        <select id="lesson_time_id" class="form-control"   name="lesson_time_id"
        >
        <option value="{{ schedule.lesson_time.id }}">{{ schedule.lesson_time.name }} </option>

        {% for time in lesson_time %}
          <option value="{{ time.id }}">{{ time.name }} </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="lesson_type_id">Тип урока </label>
        <select id="lesson_type_id" class="form-control"   name="lesson_type_id"
        >
        <option value="{{ schedule.lesson_type.id }}">{{ schedule.lesson_type.name }} </option>

        {% for type in lesson_type %}
          <option value="{{ type.id }}">{{ type.name }} </option>
            {% endfor %}
        </select>
      </div>

        <div class="form-group">
          <label for="room">Аудитория</label>
          <input
            type="text"
            class="form-control"
            id="room"
            name="room"
            value="{{ schedule.room}}"/>
            
        </div>

      <button type="submit" class="btn btn-primary">Сохранить</button> 
    </form>
</div>

  {% endblock %}
