{% extends 'base_admin.html' %}
 {% block content %}

 <!-- Student Profile -->

 <link
      rel="stylesheet"
      href="{{ url_for('admin.static',filename='css/student.css') }}"
    />
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1"> ID - Курса:</strong>{{course.id}}</p>
              <p class="mb-0"><strong class="pr-1">Название:</strong>{{course.name}}</p>
              <p class="mb-0"><strong class="pr-1">Краткое обозначение:</strong>{{course.shortname}}</p>

              <p> <a href="#"
                ><button type="button" class="btn btn-success">Обновить</button></a></p>
                <p> <a onclick="return confirm('Вы действительно хотите удалить Курс? Напоминаем что данное действие не обратимо');"  href="#"
                    ><button type="button" class="btn btn-danger">Удалить</button></a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Основная информация</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Название</th>
                  <td width="2%">:</td>
                  <td>{{course.name}}</td>
                </tr>
                <tr>
                    <th width="30%">Описание</th>
                    <td width="2%">:</td>
                    <td>{{course.description}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Факультет</th>
                    <td width="2%">:</td>
                    <td>{{course.department.faculty.name}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Кафедра</th>
                    <td width="2%">:</td>
                    <td>{{course.department.name}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Количество кредитов</th>
                    <td width="2%">:</td>
                    <td>{{course.credit_hours}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Теоритические часы</th>
                    <td width="2%">:</td>
                    <td>{{course.theoretical_hours}}</td>
                  </tr>
                  <tr>
                    <th width="30%">Практические часы</th>
                    <td width="2%">:</td>
                    <td>{{course.experimental_hours}}</td>
                  </tr>
                 
                
                   
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}</div>
