{% extends 'base_admin.html' %} {% block content %}
<div class="container">
    <h1>Редактировать оценку констрольной точки</h1>
  
    <form action="#" method="post" >
     
        <div class="form-group col-md-4">
            <label for="control_point_id">Тип контроля </label>
            <select id="control_point_id" class="form-control"   name="control_point_id"
            >
            <option selected value="{{ mark.id }}">{{ mark.control_point.name }}</option>

            {% for control_point in control_points %}
              <option value="{{ control_point.id }}">{{ control_point.name }} </option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="mark">Оценка по 100 бальной шкале</label>
            <input
              type="text"
              class="form-control"
              id="mark"
              name="mark"
              value="{{mark.mark}}"
            />
          </div>

       
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button> 
    </form>

  {% endblock %}
